.leaf > img {
  margin-top: 5vh;
  height: 45vh;
  transition: filter 0.3s ease;
}
.leafpng {
  filter: drop-shadow(0px 0px 10px rgba(201, 232, 200, 0.8));
}
.leafpng:hover {
  filter: drop-shadow(0px 0px 10px rgba(108, 191, 107, 0.8));
}

.hero_main {
  height: 88vh;
  background-color: rgb(12, 35, 35);
  color: white;
}
.install_button {
  display: flex;
  align-items: center;
  padding-inline: 30px;
  color: white;
  background-color: rgb(20, 56, 56);
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(8, 22, 22);
  transition: background-color 0.3s, color 0.3s;
}

.install_button:hover {
  background-color: rgb(133, 194, 80);
  color: rgb(245, 206, 69);
  border: 2px solid rgb(245, 206, 69);
}
.install_button > a {
  color: white;
  margin: 5px;
}

/* card */
/* styles.module.css */

.agFormatContainer {
  width: 100%;
  margin: 0 auto;
}

.agCoursesBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}

.agCoursesItem {
  -ms-flex-preferred-size: calc(100% - 3px);
  flex-basis: calc(100% - 3px);
  overflow: hidden;
  border-radius: 28px;
}

.agCoursesItemLink {
  text-decoration: none;
  display: block;
  padding: 30px 20px;
  background-color: #323232;
  overflow: hidden;
  position: relative;
  min-height: 30vh;
}

.agCoursesItemLink:hover,
.agCoursesItemLink:hover .agCoursesItemDate {
  text-decoration: none;
  color: #121212;
}

.agCoursesItemLink:hover .agCoursesItemBg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.agCoursesItemTitle {
  text-align: center;
  min-height: 15px;
  margin: 0 0 5px;
  overflow: hidden;
  font-weight: bold;
  font-size: 23px;
  color: #fff;
  z-index: 2;
  position: relative;
}

.agCoursesItemDateBox {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.2rem;
  color: #fff;
  z-index: 2;
  position: relative;
}

.agCoursesItemDate {
  font-size: x-large;
  line-height: 4vh;
  word-spacing: 5px;
  font-family: Raleway;
  color: rgb(245, 206, 69);
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.agCoursesItemBg {
  height: 128px;
  width: 128px;
  background-color: rgb(245, 206, 69);
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 979px) {
  .agCoursesItem {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .agCoursesItemTitle {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .agFormatContainer {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .agCoursesItem {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .agCoursesItemTitle {
    min-height: 52px;
    line-height: 5vh;
    font-size: 24px;
  }
  .agCoursesItemLink {
    padding: 22px 40px;
  }
  .agCoursesItemDateBox {
    letter-spacing: 2px;
    font-size: 22px;
  }
  .agCoursesBox {
    padding: 0%;
  }
}
