.image {
  background-position: center;
  background-image: url(https://media3.giphy.com/media/Lkm3w0PixNsn4dOPra/giphy.webp?cid=ecf05e47jw8ie12q4gef0q8d2pg2vrv6yregft2p1cnmgb20&ep=v1_gifs_search&rid=giphy.webp&ct=g);
  background-repeat: no-repeat;
  background-size: cover;
}
.main_img {
  background-color: rgb(12, 35, 35);
}
.image_overlay {
  color: rgb(35, 34, 12);
  background-color: rgba(255, 255, 255, 0.7);
}
